.team { background-color: #f4f4fd; }
.team-title { margin-bottom: 72px; font-weight: 700; font-size: 36px; line-height: 1.11; letter-spacing: 0.02em; text-align: center; color: #2e2f42; }
.team-list { display: flex; flex-direction: column; align-items: center; gap: 72px; }
.team-item {
  width: 264px; background-color: #fff; border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46,47,66,0.08), 0px 1px 1px rgba(46,47,66,0.16), 0px 1px 6px rgba(46,47,66,0.08);
}
.team-item-content { padding: 32px 16px; text-align: center; }
.team-name { margin-bottom: 8px; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color: #2e2f42; }
.team-position { margin-bottom: 8px; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #434455; }
.social-list { display: flex; justify-content: center; gap: 24px; }
.social-link {
  display: flex; align-items: center; justify-content: center;
  width: 40px; height: 40px; border-radius: 50%; background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus { background-color: #404bbf; }

@media (min-width: 768px) {
  .team-list { flex-direction: row; flex-wrap: wrap; justify-content: center; column-gap: 24px; row-gap: 64px; }
}
@media (min-width: 1158px) {
  .team-list { flex-wrap: nowrap; gap: 24px; }
}
